# Игнорировать локальный файл с секретами
.env

# Виртуальные окружения
venv/
callsum_env/
env/

# Системные файлы macOS и Python
.DS_Store
__pycache__/
*.pyc

# Базы данных и результаты работы
*.db
*.json
*.txt
*.sh
