# Игнорировать локальный файл с секретами
.env

# Виртуальные окружения
venv/
callsum_env/
env/

# Системные файлы macOS и Python
.DS_Store
__pycache__/
*.pyc

# Базы данных и результаты работы
*.db

# Игнорируем только результаты обработки, НЕ конфиги
structured_summary.json
terraform.tfstate
terraform.tfstate.backup
.terraform.tfstate.lock.info

# Игнорируем логи, НЕ requirements
*.log

# Terraform
.terraform/
*.tfvars
!*.tfvars.example
